{% extends "base.html" %} {% block title %}Members Area{% endblock %} {% block content
    %}
    <h1 align="center">Welcome to the public notes area</h1>
    <h3 align='center'>Use this space to review and comment on others posts</h2>
    
    <ul class="list-group list-group-flush" id="notes">
        {% for pubnote  in Pubnotes %}
        <li class="list-group-items"><b>Note:</b>  {{ pubnote.data }}<br /> <b>Posted By:</b> {{ pubnote.first_name}} <br /><b>Date:</b> {{pubnote.date}}
             
            <button type="button"  class="close" onClick="deletePubnote({{ pubnote.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="txt-center">
               
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <div class="rating" id='{{ pubnote.id }}'> 
                <input id="str5" name="star" type="radio" value="5" class="radio-btn hide" />
                <label for="str5">☆</label>
                <input id="str4" name="star" type="radio" value="4" class="radio-btn hide" />
                <label for="str4">☆</label>
                <input id="str3" name="star" type="radio" value="3" class="radio-btn hide" />
                <label for="str3">☆</label>
                <input id="str2" name="star" type="radio" value="2" class="radio-btn hide" />
                <label for="str2">☆</label>
                <input id="str1" name="star" type="radio" value="1" class="radio-btn hide" />
                <label for="str1">☆</label>
                <div class="clear"></div>
            </div>
                
            </div>
        </li>

        <input style="height:50px;width:100%" type="text" id="pubcom{{ pubnote.id }}" placeholder="Leave a comment for the author!">
            
        <button style="height:40px;width:70px" type="button"  onClick="commentPubnote({{ pubnote.id }})">Submit</button>

        {% endfor %}
    </ul>

{% endblock %}