{% extends "base.html" %} {% block title %}Members Area{% endblock %} {% block content
    %}
    <h1 align="center">Welcome to the public notes area</h1>
    <h3 align='center'>Use this space to review and comment on others posts</h2>
    
    <ul class="list-group list-group-flush" id="notes">
        {% for pub_note  in pub_notes %}
        <li class="list-group-items"><b>Note:</b>  {{ pub_note.data }}<br /> <b>Posted By:</b> {{ pub_note.first_name}} <br /><b>Date:</b> {{pub_note.date}}
            <button type="button" class="close" onClick="deleteNote({{ pub_note.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>

{% endblock %}